.todoCont{
    width:auto;
    height:auto;
    background-image:linear-gradient(170deg,#793b5d 0%, #804b65 50%, #573d50 75%);
}
.topCont{
    /* display: flex;
    justify-content: center;
    align-content: center; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}