button{
    background-color: white;
    border: none;
    outline: none;
}
.itemCont{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    width: 550px;
}
.status{
    margin-top: 17px;
}

